<div style="text-align:center; font-family:sans-serif;
        font-size:8pt; padding-bottom:2em">
    <a href="<%= iurl %>"><img src="<%= iurl %>" width="400"></a>
    <br />
    <form>
        <textarea rows="3" cols="55">
<figure><a href="<%= hurl %>"><img src="<%= iurl %>"></a></figure>
<figcaption><%= name %></figcaption>
        </textarea>
    </form>
    <a href="<%= hurl %>"><%= hurl %></a>
    <br />
    Local file: <a href="<%= name %>"><%= name %></a>
    <hr />
</div >

